html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.8em;
  color: #333;
  background-color: #FFF;
  scroll-behavior: smooth;
}

a { color: #555; text-decoration: none }
a:hover { color: #000; border-bottom: 1px solid #000 }

.content-wrapper {
  width: 1100px;
  margin: 0 auto;
}

/* HEADER */

header {
  font-size: 1.2rem;
  line-height: 6rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(255,255,255,0.6);
}

.logo {
  display: inline-block;
  font-weight: bold;
}

.logo svg {
  position: relative;
  top: 3px;
  width: 19px;
  height: 19px;
  margin-right: 0.3rem;
}

.slogan {
  font-weight: lighter;
  color: #888;
  font-size: 14px;
  position: relative;
  top: -1px;
  padding: 0 5px;
}

.nav {
  float: right;
  font-weight: 200;
}

.nav a {
  font-size: 1rem;
  margin-left: 2.5rem;
}

#our-clients,
#contact-us {
  background-color: #F5F5F5;
}

/* SECTION: SERVICE */

#our-service {
  height: 100vh;
  background: url(mbg-light.jpg) no-repeat center;
  background-size: cover;
}

#our-service .content-wrapper {
  box-sizing: border-box;
  padding-top: 85px;
  display: flex;
  height: 100%;
}

.services-list {
  width: 50%;
  display: flex;
  align-items: center;
}

.services-list .content-wrapper {
  display: flex;
  background-color: rgba(255,255,255, 0.8);
  justify-content: space-around;
}

.service-item {
  max-width: 460px;
  background-color: rgba(255,255,255, 0.5);
  padding: 0.5rem 2.5rem;
  margin: 0 auto;
}

.service-item dt, .service-item dd {
  margin: 2rem 0;
}

.service-item dt {
  font-size: 1.5rem;
  font-weight: bold;
}

.service-item dd {
  font-size: 1rem;
  line-height: 2.2rem;
}

.service-item ul {
  padding-left: 1em;
}

/* SECTION: OUR CLIENTS */

#fund-clients {
  padding: 1px 0;
}

#fund-clients .content-wrapper {
  display: flex;
}

.dd-left, .dd-right {
  flex: 1;
}

.dd-left .section-title {
  padding: 20% 0 0 0;
}

#fund-clients .section-title {
  margin-bottom: 4rem;
  line-height: 1.5em;
}

.dd-intro {
  display: flex;
}

.dd-intro ul {
  display: inline-block;
  margin: 0 auto;
  list-style: none;
  text-align: left;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2em;
}


.dd-intro li::before {
  content: '•';
  padding-right: 0.6rem;
}

.dd-clients {
  text-align: center;
  margin-bottom: 6rem;
}

.dd-clients img {
  max-width: 75%;
  height: auto;
}

/* SECTION: CONTACT */

#contact-us {
  text-align: center;
  height: calc(100vh - 85px);
  min-height: 18rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

#news {
  padding-top: 85px;
}


.news-title {
  flex: 1;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-list {
  width: 50%;
  overflow-y: auto;
  margin: 0;
}

.news-list dl {
  margin-bottom: 4em;
}

.news-list dt {
  font-family: georgia, serif;
  margin: 3em 0 2em 0;
}

.news-list dd {
  margin: 2em 0 2em 3em;
  position: relative;
}

.news-list a::before {
  content: '•';
  position: absolute;
  left: -1em;
}

/* FOOTER */

footer {
  line-height: 85px;
}

footer .content-wrapper {
  color: #777;
}

.footer-right {
  float: right;
}

/* wide screen */

@media (min-width: 1600px) {
  html {
    font-size: 16px
  }

  .content-wrapper {
    width: 1200px;
  }
}

/* Mobile */

@media (max-width: 900px) {
  html { font-size: 13px }
  body { color: #333; }
  .content-wrapper { width: inherit; }

  header { position: absolute; text-align: center }
  .nav { display: none }

  .section-title { font-size: 1.5rem; }

  #our-service { height: 100%; }

  .services-list { flex: 1; width: 100%; background-color: rgba(255,255,255,0.5) }
  .service-item { background-color: transparent }

  .client-card {
    min-width: 100px;
  }

  #fund-clients .content-wrapper {
    flex-direction: column;
  }

  .dd-left .section-title {
    padding: 0;
  }

  footer {
    padding: 0 2rem;
  }
  .logo {
    line-height: 20px;
    position: relative;
    top: 10px;
  }
  .logo .slogan {
    display: block;
    position: relative;
    top: 5px;
  }
}

@media (max-width: 450px) {
  html, body {
    font-size: 12px;
  }

  .client-card {
    width: 300px;
    margin: 1rem;
  }
}
