html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.8em;
  color: #222;
  background-color: #FFF;
  scroll-behavior: smooth;
}

a { text-decoration: none; color: #FFF; }

.content-wrapper {
  width: 1100px;
  margin: 0 auto;
}

/* HEADER */


/* wide screen */

@media (min-width: 1600px) {
  html {
    font-size: 16px
  }

  .content-wrapper {
    width: 1200px;
  }
}

/* Mobile */

@media (max-width: 900px) {
  html { font-size: 13px }
  body { color: #333; }
  .content-wrapper { width: inherit; }

  header { position: absolute; text-align: center }
  .nav { display: none }

  .section-title { font-size: 1.5rem; }

  .services-list { flex: 1; width: 100%; background-color: rgba(255,255,255,0.5) }
  .service-item { background-color: transparent }

  .client-card {
    min-width: 100px;
  }

  #fund-clients .content-wrapper {
    flex-direction: column;
  }

  .dd-left .section-title {
    padding: 0;
  }

  footer {
    padding: 0 2rem;
  }
  .logo {
    line-height: 20px;
    position: relative;
    top: 10px;
  }
  .logo .slogan {
    display: block;
    position: relative;
    top: 5px;
  }
}

@media (max-width: 450px) {
  html, body {
    font-size: 12px;
  }

  .client-card {
    width: 300px;
    margin: 1rem;
  }
}
